a{color:#514c40}.navbar{height:82px;background-color:#ece9e2;margin:0}.navbar .navbar-nav{margin-top:24px}.navbar .navbar-nav li .btn{margin-left:15px;padding:6px 12px}.footer{padding:20px 0;background-color:#514c40}.footer a{color:#ece9e2}.btn{border:none;border-radius:0}.btn.btn-qb{background-color:#72bb0f}.btn.btn-qb.btn-lg{padding:12px 16px 11px}.btn.btn-blue{color:#fff;background-color:#336b75}
