@import 'commons/ui.sass'
@import 'resources/_filter.sass'
@import 'resources/_cat.sass'
@import 'resources/_card.sass'
@import 'resources/_central.sass'

.container
  width: 970px

.section-colored
  background-color: #72BB0F
  color: white
  padding: 10px 0

.pull-center
  margin: 0 auto
  text-align: center

.no-padding-right
  padding-right: 0