<div class="section chalkboard">
  <div class="container">
    <div class="filter">
      <form class="row form-inline" role="form">

        <div class="form-group">
          <input type="text" class="input-lg course_name form-control" placeholder="Que curso você quer estudar?">
          <input type="text" class="input-lg location form-control" placeholder="Onde estudar?">
          <input type="submit" class="btn btn-lg btn-primary btn-qb" value="Encontre Sua Bolsa">
        </div>

      </form>
    </div>
  </div>
</div>