$qb-brown:  #514C40
$qb-bege:   #ECE9E2
$qb-marine: #336B75
$qb-green:  #72BB0F

a
  color: $qb-brown

.navbar
  height: 82px
  background-color: $qb-bege
  margin: 0
  .navbar-nav
    margin-top: 24px
    li
      .btn
        margin-left: 15px
        padding: 6px 12px

.footer
  padding: 20px 0
  background-color: $qb-brown
  a
    color: $qb-bege

.btn
  border: none
  border-radius: 0

  &.btn-qb
    background-color: $qb-green

    &.btn-lg
      padding: 12px 16px 11px

  &.btn-blue
    color: white
    background-color: $qb-marine
