.card
  margin: 0 0 10px 16px
  border: 1px solid #ECE9E2
  float: left
  width: 31%

  .cover
    height: 100px
    margin: 0 auto
    vertical-align: middle
    text-align: center

    img
      background-color: white
      vertical-align: middle
      padding: 20px 20px 10px
      max-width: 200px
      max-height: 100px

  .details
    padding: 10px
    border-top: 1px dashed #ECE9E2
    font-size: 13px

    p
      i
        width: 16px

  h4
    text-align: center
    font-weight: bold

    &.extra
      height: 74px
      padding: 0 20px
      display: table-cell
      vertical-align: middle

  .btn
    width: 100%

  input.dial
    font-size: 25px !important
