.universities
  padding: 0
  .all, .cat
    padding: 50px 0

.cat.nav-stacked
  border-right: 1px solid #ECE9E2
  margin-right: 12px

  li
    margin-top: 0
    &:last-child
      border-bottom: none

    a
      padding: 10px 12px
      &:hover
        background-color: #ECE9E2
        color: white

  a
    color: #000

  .active
    margin-top: 0
    background-color: #ECE9E2
    a
      &:hover
        background-color: #ECE9E2

      &:before
        content: ''
        position: absolute
        height: 29px
        width: 29px
        top: 5px
        right: -15px
        background: #ECE9E2
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
        display: block
