.chalkboard
  background: url('../images/chalkboard.jpg') no-repeat bottom center white
  background-size: cover
  min-height: 360px

.filter
  background-color: rgba(0, 0, 0, 0.5)
  text-align: center
  padding: 14px 0
  transition: background 0.5s ease
  margin-top: 160px

  input.form-control
    font-size: 18px
    border-radius: 0
    border: none
    float: left
    box-shadow: none
    -webkit-box-shadow: none

  .course_name
    border-right: 1px solid #336b75 !important
    width: 400px

  .location
    width: 320px

  .ranger
    width: 260px
    padding: 0 16px

    p
      text-align: left
      margin-left: -8px
      font-size: 13px

    #ranger
      margin-top: 8px

      .ui-slider-horizontal.ui-slider-pips
        margin-bottom: 8px

      .ui-slider-pips .ui-slider-pip
        display: none

  .ui-widget-header, .ui-state-default
    background: #514C40
    border: none

  &.fix-top
    background-color: #336b75
    position: fixed
    margin-top: 0px
    top: 0
    left: 0
    width: 100%
    z-index: 99
