{{> search}}

<div class="section section-colored text-center">
  <div class="container">
    <div class="col-lg-12">
      <h4>Bolsas de Estudo em Todas as Áreas</h4>
    </div>
  </div>
</div>

<div class="section universities">
  <div class="container">

    <div class="row">
      <div class="col-md-3 no-padding-right">
        <ul class="nav nav-stacked cat">
          <li class="active"><a href="">Todos os Cursos</a></li>
          <li><a href="">Exatas e da Terra</a></li>
          <li><a href="">Biológicas</a></li>
          <li><a href="">Engenharias</a></li>
          <li><a href="">Saúde</a></li>
          <li><a href="">Ciências Agrárias</a></li>
          <li><a href="">Ciências Sociais Aplicadas</a></li>
          <li><a href="">Humanas</a></li>
          <li><a href="">Linguística, Letras e Arte</a></li>
          <li><a href="">Outros</a></li>
        </ul>
      </div>

      <div class="col-md-9">

        <div class="row">
          <ul class='list-unstyled all'>

          {{#each context}}
            <li class="card university">
              <div class="cover">
                <img src="images/{{university}}.png" alt="{{university}}">
              </div>

              <h4 class='extra'>{{name}}</h4>

              <div class="details">
                <h2 class='pull-center'>{{discount}}</h2><br/>
                <button class='btn btn-primary btn-lg'>Quero esta Bolsa</button>
              </div>
            </li>
          {{/each}}

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section text-center central">
  <div class="container">
    <div class="col-lg-12">
      <h4>Dúvidas? Fale conosco! <i class="fa fa-phone"></i> 0800 666 1010</h4>
    </div>
  </div>
</div>

