<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="@krawdyah">

  <title>{{ appname }} {{ title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="stylesheets/commons/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/flick/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/vendor/jquery-ui-slider-pips.css" rel="stylesheet" type="text/css" />

  <link href="stylesheets/commons/custom.css" rel="stylesheet" type="text/css" />
  <link href="stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="images/logo.png" width="150"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class='btn btn-blue'>Como Funciona?</a></li>
          <li><a href='#' class='btn btn-primary'>Entrar</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <div class="footer">
    <footer class='container'>
      <div class="row">
        <div class="col-lg-12">
          <ul class='list-inline'>
            <li><a href="">Sobre o Quero Bolsa</a></li>
            <li><a href="">Políticas de Privacidade</a></li>
            <li><a href="">Termos de Uso</a></li>
            <li><a href="">Atendimento</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script src="http://localhost:35729/livereload.js"></script>
  <script src="javascripts/libs/jquery-1.10.2.js"></script>
  <script src="javascripts/vendor/bootstrap.min.js"></script>

  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="javascripts/vendor/jquery-ui-slider-pips.min.js"></script>
  <script src="javascripts/vendor/jquery.knob.min.js"></script>

  <script src="javascripts/application.js"></script>
</body>
</html>
